.FontBoldRed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000;
}
.FontVerdanaBlue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0000CC;
}
.TitleFont {
	font-family: Geneva, Arial, Helvetica, san-serif;
	font-size: 24px;
	font-style: italic;
	color: #990000;
}
.Sample1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #0066CC;
	padding: 5px;
}
.PaddingSmall {
	padding: 1em;
}
.PaddingMarginBg {
	background-color: #CCCC00;
	margin: 5pt;
	padding: 10px;
}
.MarginBorder {
	margin: 6pc;
	border: medium solid #990066;
}
.BorderBgcolor {
	background-color: #00FF66;
	border: thin groove #99CC33;
}
.BorderRightTop {
	border-top-width: 3px;
	border-right-width: 6pt;
	border-top-style: dotted;
	border-right-style: solid;
	border-top-color: #000066;
	border-right-color: #339999;
}
.BorderLeftBottom {
	border-bottom-width: 3em;
	border-left-width: 5mm;
	border-bottom-style: inset;
	border-left-style: outset;
	border-bottom-color: #663366;
	border-left-color: #3333CC;
}
.StyleLineHeightDecoration {
	font-style: italic;
	line-height: 4pc;
	text-decoration: line-through;
}
.VariantCase {
	font-variant: small-caps;
	text-transform: capitalize;
}
.BgImageRepeat {
	background-image: url(../css/oransqr.gif);
	background-repeat: repeat-x;
}
.BgAttachiment {
	background-attachment: scroll;
	background-image: url(../css/oransqr.gif);
}
.BgPosition {
	background-image: url(../css/oransqr.gif);
	background-position: center bottom;
}
.WrdPacing {
	font-size: 18px;
	word-spacing: 2mm;
}
.FontLetterSpacing {
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 5em;
}
.SizeVerticalAlignment {
	font-size: small;
	vertical-align: text-top;
}
.WeightTextAlign {
	font-weight: 700;
	text-align: justify;
}
.TextIndentWhiteSpc {
	text-indent: 3%;
	white-space: pre;
}
.BoxWidthHeight {
	height: auto;
	width: 3cm;
}
.Float {
	float: right;
}
.Clear {
	clear: both;
}
.PaddingRgtLft {
	padding-right: 6px;
	padding-left: 9%;
}
.PaddingTpBtm {
	padding-top: 3em;
	padding-bottom: 5pc;
}
.MarginTpBtm {
	margin-top: 4in;
	margin-bottom: 30pt;
}
.MarginRgtLft {
	margin-right: 3cm;
	margin-left: 6in;
}
.BorderTpRgt {
	border-top-width: medium;
	border-right-width: thin;
	border-top-style: solid;
	border-right-style: groove;
	border-top-color: #3333CC;
	border-right-color: #00FFCC;
}
.BorderBtmLft {
	border-bottom-width: 3px;
	border-left-width: 1in;
	border-bottom-style: dotted;
	border-left-style: groove;
	border-bottom-color: #336666;
	border-left-color: #996600;
}
.BroderSameforAll {
	border: 3pc groove #00CC66;
}
.ListType {
	list-style-type: upper-roman;
}
.ListImagePosition {
	list-style-position: inside;
	list-style-image: url(../css/oransqr.gif);
}
.PositionTypeWH {
	position: absolute;
	height: 55px;
	width: 4em;
	clip:  rect(   );
}
.VisibilityZidx {
	visibility: visible;
	z-index: auto;
	clip:  rect(   );
}
.OverFlowWH {
	overflow: scroll;
	height: 5ex;
	width: 2in;
	clip:  rect(   );
}
.PsitionLftTop {
	position: relative;
	left: 50pt;
	top: 4cm;
	clip:  rect(   );
}
.PositionRgtBtm {
	position: absolute;
	right: 4mm;
	bottom: auto;
	clip:  rect(   );
}
.ClipTpBtm {
	position: static;
	clip:  rect(2em  100mm );
}
.ClipRgtLft {
	position: relative;
	clip:  rect( 5ex  50pc);
}
.PageBreakBfrAft {
	page-break-before: always;
	page-break-after: left;
}
.CursorFilter {
	cursor: crosshair;
	filter: Mask(Color=red)?)?, FinishOpacity=?, Style=?, StartX=?, StartY=?, FinishX=?, FinishY=?)?, OffX=?, OffY=?, Positive=?); }
